<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplier">
            <h2><span>Supplier</span> {{supplier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{supplier.name}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <span>{{supplier.company}}</span>
                </dd>
                <dt><span>Supp Resp</span></dt>
                <dd>
                    <div *ngIf="supplier.suppResp">
                        <a (click)="openFile(supplier.suppRespContentType, supplier.suppResp)">open</a>
                        {{supplier.suppRespContentType}}, {{byteSize(supplier.suppResp)}}
                    </div>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    {{supplier.login?.login}}
                </dd>
                <dt><span>Supplier Response</span></dt>
                <dd>
                    <div *ngIf="supplier.supplierResponse">
                        <a [routerLink]="['/tender', supplier.supplierResponse?.id, 'view']">{{supplier.supplierResponse?.title}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/supplier', supplier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
