<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supplier-heading">Create or edit a Supplier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!supplier.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="supplier.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="supplier.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="supplier.company" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_suppResp">Supp Resp</label>
                    <div>
                        <div *ngIf="supplier.suppResp" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(supplier.suppRespContentType, supplier.suppResp)">open</a><br>
                            <span class="pull-left">{{supplier.suppRespContentType}}, {{byteSize(supplier.suppResp)}}</span>
                            <button type="button" (click)="supplier.suppResp=null;supplier.suppRespContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_suppResp" (change)="setFileData($event, supplier, 'suppResp', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="suppResp" id="field_suppResp"
                        [(ngModel)]="supplier.suppResp" />
                    <input type="hidden" class="form-control" name="suppRespContentType" id="field_suppRespContentType"
                        [(ngModel)]="supplier.suppRespContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_login">Login</label>
                    <select class="form-control" id="field_login" name="login" [(ngModel)]="supplier.login" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === supplier.login?.id ? supplier.login : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                        </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplierResponse">Supplier Response</label>
                    <select class="form-control" id="field_supplierResponse" name="supplierResponse" [(ngModel)]="supplier.supplierResponse" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tenderOption.id === supplier.supplierResponse?.id ? supplier.supplierResponse : tenderOption" *ngFor="let tenderOption of tenders; trackBy: trackTenderById">{{tenderOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
