<style>
dd{
    background-color: bisque;
}
</style>
<div>
    <div *ngIf="tenders">
        <div class="container" [routerLink]="['/tender', tender.id, 'view' ]" 
        *ngFor="let tender of tenders ;trackBy: trackId">
        {{tender.title}}</br>
        {{tender.description}}</br>
        <a *ngIf="tender.itemInfo" (click)="openFile(tender.itemInfoContentType, tender.itemInfo)">open</a>
        <span *ngIf="tender.itemInfo">{{tender.itemInfoContentType}}, {{byteSize(tender.itemInfo)}}</span>
        </div>
    </div>
</div>
